*{
    margin: 0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body{
    height:100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 450px;
    height:80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color: dodgerblue;
}
.header h1{
    color: white;
    padding:15px; 
}
.message_area{
    flex:1;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 20px 30px;
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
.footer form{
    display: flex;
}
form textarea{
    flex:1;
    height:40px;
    border:none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}
form button{
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}
form button:hover{
    background-color: blue;
    transition: 0.2s ease;
}
.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 10px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #8F8BE8;
    color: rgb(3, 33, 1);  
}
.outgoing {
    background: #e9eafd;
    color: #040c71;
    margin-left: auto;
    
}
.message h4 {
    position: absolute;
    top: -5px;
    margin:0px;
    left: 0;
    color: rgb(18, 18, 16);
    font-size: 14px;
    padding:5px;
}

